# Dependencies
node_modules/

# Env
.env
.env.*
!.env.example
!.env.production

# Build
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log

# Runtime
storage/private/

# OS
Thumbs.db
.DS_Store

# PWA
apps/pwa/dev-dist/